---
import { t } from "i18next";

const frequentlyAskedQuestionsHTMLBlock = [];
for (let i = 1; i <= 4; i++) {
  frequentlyAskedQuestionsHTMLBlock.push(
    `<div class="collapse-arrow rounded-box collapse my-2 bg-cream dark:bg-base-200">` +
      `<input type="checkbox" class="peer w-full h-full" />` +
      `<div class="collapse-title text-lg md:text-2xl font-medium"> ${t(
        `index.FAQ.question-${i}`
      )} </div>` +
      `<div class="collapse-content text-sm md:text-base">` +
      `<p>${t(`index.FAQ.answer-${i}`)}</p>` +
      `</div>` +
      `</div>`
  );
}
---

<div class="justify-items-center bg-cream py-10 dark:bg-base-200 lg:px-80">
  <h2
    class="pb-2 text-center text-xl text-gray-800 [font-weight:500;] dark:text-brand"
  >
    {t("index.FAQ.title-shorthand")}
  </h2>
  <h2 class="pb-1 text-center text-3xl md:text-4xl font-black">
    {t("index.FAQ.title")}
  </h2>
  <div set:html={frequentlyAskedQuestionsHTMLBlock} />
</div>
