<footer class="footer bg-base-200 p-10 text-base-content dark:bg-[#3A3F4C]">
  <div>
    <p class="text-xl font-semibold dark:text-white">
      Firas Al Alam<br />MA Clinical Psychology
    </p>
    <p class="">1234 Street address<br />Region goes here, Beirut</p>
  </div>
  <div>
    <span class="footer-title">Navigation</span>
    <a href="/" class="link-hover link">Home page</a>
    <a href="/certificates" class="link-hover link">Certificates</a>
    <a href="/contact" class="link-hover link">Contact</a>
    <a href="/about" class="link-hover link">About Me</a>
  </div>
  <div>
    <span class="footer-title">Contact</span>
    <!-- TODO: add phone number -->
    <a class="link-hover link">Phone</a>
    <a href="mailto:contact@firasalalam.clinic" class="link-hover link">Email</a
    >
    <!-- TODO: add Telegram and whatsapp -->
    <a class="link-hover link">Telegram</a>
    <a class="link-hover link">Whatsapp</a>
  </div>
  <div>
    <span class="footer-title">Legal</span>
    <!-- TODO: add work permit -->
    <a class="link-hover link" target="_blank">Work Permit</a>
    <div
      class="tooltip"
      style={{
        "--tooltip-color": "#dfdfdf",
        "--tooltip-text-color": "#000",
      }}
      data-tip="This website is licensed under the GPL-3.0 license"
    >
      <a
        class="link-hover link"
        target="_blank"
        href="https://www.gnu.org/licenses/gpl-3.0.en.html">Website License</a
      >
    </div>
    <a
      class="link-hover link"
      target="_blank"
      href="https://github.com/jpkhawam/firasalalam-clinic"
      >Website Source Code</a
    >
  </div>
</footer>
