---
import { t } from "i18next";
import { Picture } from "@astrojs/image/components";
---

<div class="hero bg-cream dark:bg-base-200">
  <div
    aria-hidden="true"
    class="hero-background hidden h-full w-full bg-cover bg-center bg-no-repeat opacity-[65%] dark:inline"
  >
  </div>
  <div class="hero-content flex-col-reverse lg:flex-row-reverse">
    <Picture
      src="https://i.guim.co.uk/img/media/566c303b45612e76d0422d6b905ce685c9016a8f/0_0_1875_2500/master/1875.jpg?w=1200&q=55&auto=format&usm=12&fit=max&s=f59321a066fea0b5b463f25ccf78144b"
      class="mt-5 max-w-sm rounded-sm shadow-2xl dark:rounded-lg lg:mt-0"
      widths={[400, 800, 1200]}
      aspectRatio="2:3"
      alt={t("index.Hero.image-alt-text")}
    />
    <div class="text-center md:text-start">
      <h1 class="mb-2 text-2xl font-semibold">{t("index.Hero.header-1")}</h1>
      <h1 class="text-3xl md:text-4xl font-bold">
        {t("index.Hero.header-2")}
      </h1>
      <p class="py-6 text-lg">{t("index.Hero.desc")}</p>
      <a href="/contact/" class="group relative inline-block dark:hidden">
        <span
          class="absolute inset-0 translate-x-1.5 translate-y-1.5 bg-black transition-transform group-hover:translate-x-0 group-hover:translate-y-0"
        ></span>

        <span
          class="relative inline-block border-2 border-black px-8 py-3 text-sm font-bold uppercase tracking-widest text-white group-active:text-opacity-75"
        >
          {t("index.Hero.get-started")}
        </span>
      </a>
      <a
        href="/contact/"
        class="group relative hidden rounded dark:inline-block"
      >
        <span
          class="absolute inset-0 translate-x-1 translate-y-0.5 rounded-full bg-brand transition-transform"
        ></span>

        <span
          class="relative inline-block rounded-full border-2 border-brand bg-[#2B303B] px-8 py-3 text-center text-sm font-bold uppercase tracking-widest text-brand group-hover:translate-x-1 group-hover:translate-y-0.5 group-active:text-opacity-75 lg:bg-[#1E212A]"
        >
          {t("index.Hero.get-started")}
        </span>
      </a>
    </div>
  </div>
</div>

<style>
  .hero-background {
    background-image: url("/svg/hero-waves-reversed.svg");
  }
</style>
