---
const path = Astro.url.pathname;
const currentLocaleArabic = path.startsWith("/ar");
---

<div
  class="justify-center [font-weight:500;] bg-black p-0.5 px-5 text-center text-white [border-radius:2.5rem] [font-size:1.05rem] dark:bg-brand dark:text-black"
>
  <div class="inline-flex py-2">
    {
      currentLocaleArabic && (
        <div class="text-sm dark:text-[#1E212A]">
          <a class="me-1.5 font-sans" href={path.substring(2)}>
            English
          </a>
          |<span> عربي</span>
        </div>
      )
    }

    {
      !currentLocaleArabic && (
        <div class="text-sm dark:text-[#1E212A]">
          <span class="me-1.5 font-sans "> English</span>|
          <a class="" href={`/ar${path}`}>
            {" "}
            عربي
          </a>
        </div>
      )
    }
  </div>
</div>
