---
import LanguageSwitcher from "./LanguageSwitcher.astro";
import ThemeSwitcher from "./ThemeSwitcher.astro";

const path = Astro.url.pathname;
const navbarClassList: Array<string> = [];
if (path === "/") {
  navbarClassList.push("pb-8", "sm:pb-12");
}

if (path === "/" || path.startsWith("/contact")) {
  navbarClassList.push("dark:bg-[#2B303B]");
} else {
  navbarClassList.push("dark:bg-base-200");
}
---

<nav>
  <div class="navbar bg-cream px-5 py-5" class:list={navbarClassList}>
    <div class="navbar-start">
      <a
        href="/"
        class="btn-ghost btn font-sans text-3xl normal-case [font-weight:800;]"
        >Firas Al Alam</a
      >
    </div>
    <div class="navbar-end me-6">
      <div class="hidden sm:contents">
        <LanguageSwitcher />
        <ThemeSwitcher />
      </div>
      <!-- TODO: this is so inaccessible -->
      <label for="navigation-drawer" class="drawer-button cursor-pointer">
        <svg
          class="fill-current stroke-current dark:fill-brand dark:stroke-brand"
          viewBox="0 0 50 50"
          xmlns="http://www.w3.org/2000/svg"
          width="20px"
          height="20px"
          class="vicon"
          aria-label="Main menu"
          role="img"
          fill="none"
          ><path d="M0 7.5h50v5H0v-5zm0 15h50v5H0v-5zm50 15H0v5h50v-5z"
          ></path></svg
        >
      </label>
    </div>
  </div>
</nav>
