---
import LangChange from "./LangChange.astro";
import NeoBrutalistButton from "./NeoBrutalistButton.astro";
---

<nav>
  <div class="navbar bg-cream dark:bg-base-200">
    <div class="navbar-start">
      <a href="/" class="btn-ghost btn text-3xl normal-case">Firas Al Alam</a>
    </div>
    <div class="navbar-end me-3">
      <LangChange />
      <NeoBrutalistButton title="Get Started" link="/contact/" />
    </div>
  </div>
</nav>
