---
import LanguageSwitcher from "./LanguageSwitcher.astro";
import ThemeSwitcher from "./ThemeSwitcher.astro";
---

<nav>
  <div class="navbar w-screen bg-cream px-5 py-5 dark:bg-[#363B47]">
    <div class="navbar-start">
      <a href="/" class="btn-ghost btn text-3xl normal-case">Firas Al Alam</a>
    </div>
    <div class="navbar-end me-3">
      <a
        href="/contact/"
        class="group relative me-12 hidden focus:outline-none focus:ring dark:hidden lg:inline-block lg:dark:hidden"
      >
        <span
          class="inset-0 inline-block border-2 border-black bg-black px-8 py-3 text-sm font-bold uppercase tracking-widest text-white transition-transform group-hover:bg-cream group-hover:text-black"
        >
          Get Started
        </span>
      </a>
      <a
        href="/contact/"
        class="group relative me-12 hidden rounded focus:outline-none focus:ring lg:dark:inline-block"
      >
        <span
          class="absolute inset-0 translate-x-1 translate-y-0.5 rounded-full bg-brand transition-transform"
        ></span>

        <span
          class="relative inline-block rounded-full border-2 border-brand bg-[#363B47] px-8 py-3 text-center text-sm font-bold uppercase tracking-widest text-brand group-hover:translate-x-1 group-hover:translate-y-0.5 group-active:text-opacity-75"
        >
          Get Started
        </span>
      </a>

      <div class="hidden sm:contents">
        <LanguageSwitcher />
        <ThemeSwitcher />
      </div>
      <label for="navigation-drawer" class="drawer-button cursor-pointer">
        <svg
          class="h-7 w-7 fill-current stroke-current dark:fill-brand dark:stroke-brand"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          stroke-width="0.288"
          ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"
            ><path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M2 7a1 1 0 0 1 1-1h18a1 1 0 1 1 0 2H3a1 1 0 0 1-1-1zm0 5a1 1 0 0 1 1-1h18a1 1 0 1 1 0 2H3a1 1 0 0 1-1-1zm1 4a1 1 0 1 0 0 2h18a1 1 0 1 0 0-2H3z"
            ></path></g
          ></svg
        ></label
      >
    </div>
  </div>
</nav>
