---
import LanguageSwitcher from "./LanguageSwitcher.astro";
import ThemeSwitcher from "./ThemeSwitcher.astro";
---

<nav>
  <div class="navbar bg-cream px-5 py-5 pb-8 dark:bg-[#2B303B] sm:pb-12">
    <div class="navbar-start">
      <a href="/" class="btn-ghost btn text-3xl normal-case">Firas Al Alam</a>
    </div>
    <div class="navbar-end me-6">
      <div class="hidden sm:contents">
        <LanguageSwitcher />
        <ThemeSwitcher />
      </div>
      <label for="navigation-drawer" class="drawer-button cursor-pointer">
        <svg
          class="fill-current stroke-current dark:fill-brand dark:stroke-brand"
          viewBox="0 0 50 50"
          xmlns="http://www.w3.org/2000/svg"
          width="20px"
          height="20px"
          class="vicon"
          aria-label="Main menu"
          role="img"
          fill="none"
          ><path d="M0 7.5h50v5H0v-5zm0 15h50v5H0v-5zm50 15H0v5h50v-5z"
          ></path></svg
        >
      </label>
    </div>
  </div>
</nav>
