---
const { title, link } = Astro.props;
---

<a
  href={link}
  class="group relative inline-block focus:outline-none focus:ring dark:hidden"
>
  <span
    class="absolute inset-0 translate-x-1.5 translate-y-1.5 bg-black transition-transform group-hover:translate-x-0 group-hover:translate-y-0"
  ></span>

  <span
    class="relative inline-block border-2 border-black px-8 py-3 text-sm font-bold uppercase tracking-widest text-white group-active:text-opacity-75"
  >
    {title}
  </span>
</a>
<a
  href={link}
  class="group relative hidden rounded focus:outline-none focus:ring dark:inline-block"
>
  <span
    class="absolute inset-0 translate-x-1 translate-y-0.5 rounded-full bg-brand transition-transform"
  ></span>

  <span
    class="relative inline-block rounded-full border-2 border-brand bg-base-200 px-8 py-3 text-center text-sm font-bold uppercase tracking-widest text-brand group-hover:translate-x-1 group-hover:translate-y-0.5 group-active:text-opacity-75"
  >
    {title}
  </span>
</a>
