---
const { text } = Astro.props;
---

<div
  class="group h-[575px] w-[395px] overflow-hidden bg-gray-600 text-white transition-transform duration-700 hover:scale-105 dark:bg-[#f5a484]"
>
  <div class="mb-5">
    <h2
      class="mb-3 me-6 ms-8 mt-8 text-start font-sans font-semibold [font-size:1.65rem] [line-height:2.2rem] dark:text-black"
    >
      {text}
    </h2>
    <span
      class="ms-8 text-start font-sans font-semibold underline [font-size:1.00rem] dark:text-black"
      >Learn more</span
    >
  </div>
  <div class="mx-5 transition-transform duration-1000 group-hover:scale-110">
    <object
      aria-hidden="true"
      data="/public/test.svg"
      type="image/svg+xml"
      style="opacity: 1; transform: none;"></object>
  </div>
</div>
