---
import { t } from "i18next";
---

<footer class="footer bg-base-200 p-10 text-base-content dark:bg-[#3A3F4C]">
  <div>
    <p class="text-xl font-black dark:text-white">
      {t("shared.name")}<br />{t("site.Footer.title")}
    </p>
    <p class="">
      {t("site.Footer.address-1")}<br />{t("site.Footer.address-2")}
    </p>
  </div>
  <div>
    <span class="footer-title">{t("site.Footer.navigation")}</span>
    <a href="/" class="link-hover link">{t("shared.pages.home-page")}</a>
    <a href="/contact" class="link-hover link">{t("shared.pages.contact")}</a>
    <a href="/about" class="link-hover link">{t("shared.pages.about-me")}</a>
    <a href="/certificates" class="link-hover link"
      >{t("shared.pages.certificates")}</a
    >
  </div>
  <div>
    <span class="footer-title">{t("site.Footer.clinic-details")}</span>
    <a href="/clinical-approach" class="link-hover link"
      >{t("shared.pages.clinical-approach")}</a
    >
    <a href="/skills-building" class="link-hover link"
      >{t("shared.pages.skills-building")}</a
    >
    <a href="/targeted-difficulties" class="link-hover link"
      >{t("shared.pages.targeted-difficulties")}</a
    >
    <a href="/pricing" class="link-hover link">{t("shared.pages.pricing")}</a>
  </div>
  <div>
    <span class="footer-title">{t("shared.pages.contact")}</span>
    <!-- TODO: add phone number -->
    <a class="link-hover link">{t("site.Footer.contact.phone")}</a>
    <a href="mailto:contact@firasalalam.clinic" class="link-hover link"
      >{t("site.Footer.contact.email")}</a
    >
    <!-- TODO: add Telegram and whatsapp -->
    <a class="link-hover link">{t("site.Footer.contact.telegram")}</a>
    <a class="link-hover link">{t("site.Footer.contact.whatsapp")}</a>
  </div>
  <div>
    <span class="footer-title">{t("site.Footer.legal.title")}</span>
    <!-- TODO: add work permit -->
    <a class="link-hover link" target="_blank"
      >{t("site.Footer.legal.work-permit")}</a
    >
    <div
      class="tooltip"
      style={{
        "--tooltip-color": "#dfdfdf",
        "--tooltip-text-color": "#000",
      }}
      data-tip={t("site.Footer.legal.license-details")}
    >
      <a
        class="link-hover link"
        target="_blank"
        href="https://www.gnu.org/licenses/gpl-3.0.en.html"
        >{t("site.Footer.legal.website-license")}</a
      >
    </div>
    <a
      class="link-hover link"
      target="_blank"
      href="https://github.com/jpkhawam/firasalalam-clinic"
      >{t("site.Footer.legal.website-source-code")}</a
    >
  </div>
</footer>
