---
import { t } from "i18next";
import { changeLanguage } from "i18next";
import Layout from "../layouts/Layout.astro";

changeLanguage("en");
---

<Layout title="Page not found" description="">
  <main
    class="flex items-center justify-center bg-cream dark:bg-base-200 dark:text-brand"
  >
    <div
      class="mx-auto my-8 flex flex-col items-center justify-center md:h-screen"
    >
      <div class="max-w-md text-center">
        <h2
          class="mb-8 text-9xl font-extrabold dark:text-brand dark:text-opacity-90"
        >
          <span class="sr-only">Error</span>404
        </h2>
        <p class="pb-7 text-2xl font-semibold md:text-3xl">
          {t("404.sorry")}
        </p>
        <a href="/" class="group relative inline-block dark:hidden">
          <span
            class="absolute inset-0 translate-x-1.5 translate-y-1.5 bg-black transition-transform group-hover:translate-x-0 group-hover:translate-y-0"
          ></span>

          <span
            class="relative inline-block border-2 border-black px-8 py-3 text-sm font-bold uppercase tracking-widest text-white group-active:text-opacity-75"
          >
            {t("404.back")}
          </span>
        </a>
        <a href="/" class="group relative hidden rounded dark:inline-block">
          <span
            class="absolute inset-0 translate-x-1 translate-y-0.5 rounded-full bg-brand transition-transform"
          ></span>

          <span
            class="relative inline-block rounded-full border-2 border-brand bg-base-200 px-8 py-3 text-center text-sm font-bold uppercase tracking-widest text-brand group-hover:translate-x-1 group-hover:translate-y-0.5 group-active:text-opacity-75"
          >
            {t("404.back")}
          </span>
        </a>
      </div>
    </div>
  </main>
</Layout>
