---
import i18next, { t } from "i18next";
import { Trans, HeadHrefLangs } from "astro-i18next/components";
import { changeLanguage } from "i18next";
import Layout from "../layouts/Layout.astro";

changeLanguage("en");
---

<Layout title="Firas Al Alam | Page not found">
  <main
    class="flex h-screen items-center bg-cream p-16 dark:bg-[#2B303B] dark:text-brand"
  >
    <div
      class="container mx-auto my-8 flex flex-col items-center justify-center px-5"
    >
      <div class="max-w-md text-center">
        <h2
          class="mb-8 text-9xl font-extrabold dark:text-brand dark:text-opacity-60"
        >
          <span class="sr-only">Error</span>404
        </h2>
        <p class="pb-7 text-2xl font-semibold md:text-3xl">
          Sorry, this page does not exist.
        </p>
        <a href="/" class="group relative inline-block dark:hidden">
          <span
            class="absolute inset-0 translate-x-1.5 translate-y-1.5 bg-black transition-transform group-hover:translate-x-0 group-hover:translate-y-0"
          ></span>

          <span
            class="relative inline-block border-2 border-black px-8 py-3 text-sm font-bold uppercase tracking-widest text-white group-active:text-opacity-75"
          >
            Back to homepage
          </span>
        </a>
        <a href="/" class="group relative hidden rounded dark:inline-block">
          <span
            class="absolute inset-0 translate-x-1 translate-y-0.5 rounded-full bg-brand transition-transform"
          ></span>

          <span
            class="relative inline-block rounded-full border-2 border-brand bg-[#2B303B] px-8 py-3 text-center text-sm font-bold uppercase tracking-widest text-brand group-hover:translate-x-1 group-hover:translate-y-0.5 group-active:text-opacity-75"
          >
            Back to homepage
          </span>
        </a>
      </div>
    </div>
  </main>
</Layout>
