---
import NeoBrutalistButton from "../components/astro/NeoBrutalistButton.astro";
---

<section
  class="flex h-screen items-center bg-cream p-16 dark:bg-base-200 dark:text-brand"
>
  <div
    class="container mx-auto my-8 flex flex-col items-center justify-center px-5"
  >
    <div class="max-w-md text-center">
      <h2
        class="mb-8 text-9xl font-extrabold dark:text-brand dark:text-opacity-60"
      >
        <span class="sr-only">Error</span>404
      </h2>
      <p class="pb-7 text-2xl font-semibold md:text-3xl">
        Sorry, this page does not exist.
      </p>
      <NeoBrutalistButton title="Back to homepage" link="/" />
    </div>
  </div>
</section>
