---
import { t } from "i18next";
import { changeLanguage } from "i18next";
import ContactForm from "../components/react/ContactForm";
import Layout from "../layouts/Layout.astro";

changeLanguage("en");
---

<Layout title="Contact" description={t("seo.descriptions.contact")}>
  <section
    class="bg-gradient-to-b from-base-200 to-base-300"
    data-theme="fantasy"
  >
    <div class="mx-auto max-w-screen-xl px-7 py-10 sm:px-6 lg:px-8 lg:py-16">
      <div class="grid grid-cols-1 gap-y-8 xl:grid-cols-5 xl:gap-x-16">
        <div
          class="mx-auto w-full text-justify sm:w-3/5 xl:col-span-2 xl:mx-0 xl:w-full xl:py-12"
        >
          <p class="text-lg">
            <span class="pb-2">
              {t("contact.paragraph-1")}
              <br /><br />
            </span>
            <span class="pb-2">
              {t("contact.paragraph-2")}
              <br /><br />
            </span>
            <span class="pb-2">
              {t("contact.paragraph-3")}
            </span>
          </p>

          <div class="mt-8">
            <a href="" class="text-2xl font-bold text-pink-600">
              +961 xx xxx xxx
            </a>

            <address class="mt-2 not-italic">
              {t("contact.address")}
            </address>
          </div>

          <!-- TODO: add whatsapp / telegram / links here -->
        </div>

        <div
          class="rounded-lg bg-white p-8 text-black shadow-lg lg:col-span-3 lg:p-12"
        >
          <ContactForm client:load />
        </div>
      </div>
    </div>
  </section>
</Layout>
