---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/astro/Hero.astro";
import FAQ from "../components/astro/FAQ.astro";
import Services from "../components/astro/Services.astro";
---

<Layout title="Firas Al Alam">
  <main class="bg-base-200">
    <Hero />
    <Services />
    <FAQ />
  </main>
</Layout>
