---
import Layout from "../layouts/Layout.astro";
import ServiceCard from "../components/ServiceCard.astro";
import Hero from "../components/Hero.astro";
import FAQ from "../components/FAQ.astro";
import Services from "../components/Services.astro";

const services = [
  {
    icon: "fa-brain",
    title: "Treatment",
    content: [
      "Something something here",
      "Something something here",
      "Something something here",
    ],
  },
  {
    icon: "fa-brain",
    title: "Self-Improvement",
    content: [
      "Something something here",
      "Something something here",
      "Something something here",
    ],
  },
  {
    icon: "fa-brain",
    title: "Specialty",
    content: [
      "Something something here",
      "Something something here",
      "Something something here",
    ],
  },
];
---

<Layout title="Firas Al Alam">
  <main class="bg-base-200">
    <Hero />
    <Services />
    <FAQ />
  </main>
</Layout>
