---
import { t } from "i18next";
import { changeLanguage } from "i18next";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/astro/Hero.astro";
import FAQ from "../components/astro/FAQ.astro";
import Services from "../components/astro/Services.astro";

changeLanguage("en");
---

<Layout title="Clinic" description={t("seo.descriptions.index")}>
  <main class="bg-cream dark:bg-base-200">
    <Hero />
    <Services />
    <FAQ />
  </main>
</Layout>
