---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Firas Al Alam | Pricing">
    <section class="bg-gradient-to-b from-cream to-white">
        <div class="flex flex-col items-center text-center">
            <div class="text-lg font-semibold text-gray-800 dark:text-brand mt-3">Pricing</div>
            <div><h1 class="text-5xl font-black font-sans mt-3 mb-5">Transparent pricing from the start</h1></div>
            <div class="max-w-prose">Distinctio et nulla eum soluta et neque labore quibusdam. Saepe et quasi iusto modi velit ut non voluptas in. Explicabo id ut laborum.</div>
        </div>
        <main>
            <div class="flex flex-row justify-center mt-10 text-center">
                <div class="w-1/5">
                    <div class="text-xl font-bold mb-7">General pricing</div>
                    <div><span class="text-4xl font-black">$40 </span>
                        <span class="label-text-alt text-sm font-semibold">/session</span></div>
                </div>
                <div class="divider divider-horizontal mx-10"></div>
                <div class="w-1/5">
                    <div class="text-xl font-bold mb-7">University students</div>
                    <div><span class="text-4xl font-black">$20 </span>
                        <span class="label-text-alt text-sm font-semibold">/session</span></div>
                </div>
            </div>
        </main>
        <div class="divider divider-vertical w-2/3 mx-auto my-7 mt-10"></div>
        <div class="flex flex-col items-center text-center mb-10">
            <div><h1 class="text-5xl font-black font-sans mt-3 mb-5">Pricing FAQ</h1></div>
            <div class="max-w-prose">Distinctio et nulla eum soluta et neque labore quibusdam. Saepe et quasi iusto modi velit ut non voluptas in. Explicabo id ut laborum.</div>
        </div>
    </section>
</Layout>