<footer class="footer bg-base-200 p-10 text-base-content">
  <div>
    <p class="text-xl font-semibold text-white">
      Firas Al Alam<br />MA Clinical Psychology
    </p>
    <p class="">1234 Street address<br />Region goes here, Beirut</p>
  </div>
  <div>
    <span class="footer-title">Navigation</span>
    <a class="link-hover link">Home page</a>
    <a class="link-hover link">Certifications</a>
    <a class="link-hover link">Contact</a>
  </div>
  <div>
    <span class="footer-title">Contact</span>
    <a class="link-hover link">Phone</a>
    <a class="link-hover link">Email</a>
    <a class="link-hover link">Telegram</a>
    <a class="link-hover link">Whatsapp</a>
  </div>
  <div>
    <span class="footer-title">Legal</span>
    <a class="link-hover link">Work Permit</a>
    <div
      class="tooltip tooltip-accent"
      data-tip="This website is licensed under the GPL-3.0 license"
    >
      <a
        class="link-hover link"
        href="https://www.gnu.org/licenses/gpl-3.0.en.html">Website License</a
      >
    </div>
    <a
      class="link-hover link"
      href="https://github.com/jpkhawam/firasalalam-clinic"
      >Website Source Code</a
    >
  </div>
</footer>
