---
import { t } from "i18next";
---

<div class="justify-items-center bg-cream py-10 dark:bg-base-200 lg:px-80">
  <h2
    class="pb-2 text-center text-xl text-gray-800 [font-weight:500;] dark:text-brand"
  >
    {t("index.FAQ.title-shorthand")}
  </h2>
  <h2 class="pb-1 text-center text-3xl font-black md:text-4xl">
    {t("index.FAQ.title")}
  </h2>
  {
    [1, 2, 3, 4].map((index) => (
      <div class="collapse-arrow rounded-box collapse my-2 bg-transparent">
        <input type="checkbox" class="peer h-full w-full" />
        <div class="collapse-title text-lg font-medium md:text-2xl">
          {t(`index.FAQ.question-${index}`)}
        </div>
        <div class="collapse-content text-sm md:text-base">
          <p>{t(`index.FAQ.answer-${index}`)}</p>
        </div>
      </div>
    ))
  }
</div>
